body {
  
  font-family: Arial, Helvetica, sans-serif;
  background-image: url("hanging_lock.JPG");background-size: 225vh;
}

#container {
  display: inline;
  margin: 10px;
  border: 2px;
  padding: 20px;
}

#subtitle {
  background-color: bisque;
  color: rgb(71, 189, 189);
  width: 35%;
  margin: 50px;
  padding: 5%;
}

#clockFace {
  background-color: bisque;
  color: rgb(178, 239, 117);
  font-size: 50px;
  width: 35%;
  margin: 50px;
  padding: 5%;  
}

#date {
  background-color: bisque;
  color: rgb(218, 221, 35);
  font-size: 15px;
  width: 35%;
  margin: 50px;
  padding: 5%;
}

